<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Boolzapp</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <header>
            <div class="green-bar"></div>
        </header>
        <main>
            <div class="row">
                <div class="col-l">
                    <div class="user-infos">
                        <div class="user-identity">
                            <img src="img/avatar_io.png" alt="avatar">
                            <span><h6>Sofia</h6></span>
                        </div>
                        <div class="user-options">
                            <span><i class="bi bi-arrow-clockwise"></i></span>
                            <span><i class="bi bi-chat-left"></i></span>
                            <span><i class="bi bi-three-dots-vertical"></i></span>
                        </div>
                    </div>
                    <div class="notify">
                        <div class="notify-circle"><i class="bi bi-bell-slash-fill"></i></div>
                        <div class="notify-text">
                            <span><h6>Ricevi notifiche di nuovi messaggi</h6></span>
                            <a href="#"><h6>attiva notifiche sul desktop</h6></a>
                        </div>
                    </div>
                    <div class="search-bar">
                        <label class='search-label' for="search">
                            <i class="bi bi-search"></i> 
                        </label>
                        <input v-model="searchQuery" id="contacts-filter" class="left-searchbar-input" placeholder="Cerca o inizia una nuova chat">
                    </div>

                    <div class="contacts">
                        <div v-for="(contact, contactIndex) in filteredContacts" :key="contactIndex" @click="setActiveIndex(contactIndex)" class="contact">
                            <div class="contact-photo"><img :src="contact.avatar" alt=""></div>
                            <div class="contact-info">
                                <h6>
                                    <div class="contact-name">
                                        {{contact.name}}
                                    </div>
                                    <div class="last-time-message">
                                        Ultimo messaggio alle...
                                    </div>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-r">
                    <div v-if="contacts[activeIndex]" class="user-chat">
                        <div class="user-info-wrapper">
                            <div class="img-circle"><img :src="contacts[activeIndex].avatar" :alt="contacts[activeIndex].name"></div>
                            <div class="name-latest-access">
                                <h6>{{contacts[activeIndex].name}}</h6>
                                <h6>Ultimo accesso oggi alle 12.00</h6>
                            </div>
                        </div>
                        <div class="chat-options">
                            <span><i class="bi bi-search"></i></span>
                            <span><i class="bi bi-paperclip"></i></span>
                            <span><i class="bi bi-three-dots-vertical"></i></span>
                        </div>
                    </div>
                    <div class="conversation">
                        <div v-for="(messageObj, messageIndex) in contacts[activeIndex].messages" :key="messageIndex"
                             class="message" :class="(messageObj.status === 'sent') ? 'user-message' : 'friend-message'">
                            {{messageObj.message}}
                            <div class="time-message">{{messageObj.date}}</div>
                        </div>
                    </div>
                    <div class="bottom-bar">
                        <div class="emoji"><i class="bi bi-emoji-smile"></i></div>
                        <input v-model="newMessage" @keyup.enter="sendMessage" class="message-bar" placeholder="Scrivi messaggio...">
                        <div class="mic"><i class="bi bi-mic-fill"></i></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="script.js"></script>
</body>
</html>
